:root{
  --main-color: rgb(14, 14, 14);
  --white: #f8f8f8;
  --red: #e50914;
  --dark-grey: #202020;
}

*, *::before,*::after{
  margin: 0; padding: 0; box-sizing: border-box;
}

html{
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 62.5%;
}


/* for responsiveness... */
@media screen and (max-width: 998px) {
  html{
    font-size: 55%;
  }
}
@media screen and (max-width: 768px) {
  html{
    font-size: 45%;
  }
}